.img-responsive{
    max-width: 100%;
}

* {
    --primary: #0089fd;
    --pink: #ff5f5f;
    --secondary: #757575;
    --dark: #212121;
}

.color-secondary{
    color: var(--secondary);
}

.color-primary{
    color: var(--primary);
}

.loggged-out{
    /* padding-top: 56px; */
}

.ellipsis{
    -webkit-line-clamp: unset !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    width: 100% !important;
    display: block !important;
}

.picker{
    direction: ltr !important;
}